<section class="section py-16 md:py-20 scroll-m-20 w-full mx-auto container lg:max-w-4xl md:max-w-2xl">

  <div class="flex lg:flex-row flex-col">
    <div class="lg:max-w-3/4">
      <header>
        <h1 class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white mb-15">¿Quién es Miguel?</h1>
      </header>

      <div class="flex flex-col gap-3">
        <p>
          Hola!
          Me llamo Miguel Ángel, pero mis amigos me dicen Migui. Tengo 22 años y, como habrán visto, soy analista programador.
          Mentiría si dijera que siempre me gustó programar, porque en realidad mi primer gusto fueron los videojuegos.
        </p>
        <p>
          Desde muy pequeño me interesé por los computadores más de lo que imaginaba, lo que me llevó a armar mi primer PC desde cero, darle mantención, formatear equipos y ayudar a mis amigos con los suyos.
        Con el tiempo, descubrí que lo que más me motivaba no era solo entender cómo funcionaban las cosas, sino también poder ayudar a los demás.
        </p>
        <p>
          Me gusta pensar que, a través de la tecnología y mis habilidades, puedo generar un impacto positivo, ya sea pequeño o grande, en la vida de otras personas.
        Ver cómo una solución que desarrollé facilita un proceso, resuelve un problema o mejora la experiencia de alguien, me llena de sentido.
        Hoy estoy enfocado en seguir creciendo como profesional, aprendiendo nuevas tecnologías y buscando proyectos donde pueda aportar no solo con lo técnico, sino también con compromiso, empatía y ganas reales de marcar la diferencia.
        </p>


      </div>
    </div>

      <img loading="lazy" src="../../../assets/yo.png" alt="" class="sm:mt-10 mt-10 rounded-2xl max-w-[300px] max-h-[300px] rotate-5 md:ml-10 border-4 border-amber-50">



  </div>

</section>
