<section
  class="section py-16 md:py-36 scroll-m-20 w-full mx-auto container lg:max-w-4xl md:max-w-2xl"
>
  <h1
    class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white"
  >
    Experiencia
  </h1>
  <div class="flex flex-row mt-25">
    <!-- <div class="flex flex-col">
      <h3>Programador Backend</h3>
      <h4>NexNews</h4>
    </div>
    <div>

    </div> -->
    <div
      class="group relative grid pb-1 transition-all sm:grid-cols-8 sm:gap-8 md:gap-4 lg:hover:!opacity-100 lg:group-hover/list:opacity-50"
    >
      <div
        class="absolute -inset-x-4 -inset-y-4 z-0 hidden rounded-md transition motion-reduce:transition-none lg:-inset-x-6 lg:block lg:group-hover:bg-slate-800/50 lg:group-hover:shadow-[inset_0_1px_0_0_rgba(148,163,184,0.1)] lg:group-hover:drop-shadow-lg"
      ></div>
      <header
        class="z-10 mb-2 mt-1 text-xs font-semibold uppercase tracking-wide text-slate-500 sm:col-span-2"
        aria-label="2016 to 2017"
      >
        2024 — 2025
      </header>
      <div class="z-10 sm:col-span-6">
        <h2 class="font-medium leading-snug text-slate-200 ">
          <div>
            <a
              class="inline-flex items-baseline font-medium leading-tight  group/link text-base"
              href="https://www.nexnews.cl/"
              target="_blank"
              rel="noreferrer noopener"
              aria-label="Developer at Scout Studio (opens in a new tab)"
              ><span
                class="absolute -inset-x-4 -inset-y-2.5 hidden rounded md:-inset-x-6 md:-inset-y-4 lg:block"
              ></span
              ><span class="text-2xl"
                >Programador Backend · Nex<!-- -->
                <span class="inline-block text-2xl"
                  >News<svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                    class="inline-block h-4 w-4 shrink-0 transition-transform group-hover/link:-translate-y-1 group-hover/link:translate-x-1 group-focus-visible/link:-translate-y-1 group-focus-visible/link:translate-x-1 motion-reduce:transition-none ml-1 translate-y-px"

                  >
                    <path
                      fill-rule="evenodd"
                      d="M5.22 14.78a.75.75 0 001.06 0l7.22-7.22v5.69a.75.75 0 001.5 0v-7.5a.75.75 0 00-.75-.75h-7.5a.75.75 0 000 1.5h5.69l-7.22 7.22a.75.75 0 000 1.06z"
                      clip-rule="evenodd"
                    ></path></svg></span></span
            ></a>
          </div>

        </h2>
        <h5>Desarrollo de Soluciones de Automatización y Web Scraping</h5>
        <p class="mt-2 text-sm leading-normal">
          Desarrollé servicios en Python para automatizar la recolección de datos de redes sociales (Instagram, Facebook, Twitter) usando Selenium, optimizando procesos en 60%. Implementé monitoreo de menciones clave y mejoré la precisión de insights en 60%.
        </p>
        <ul class="mt-2 flex flex-wrap" aria-label="Technologies used">
          <li class="mr-1.5 mt-2 flex flex-row">
            <div
              class="flex items-center rounded bg-gray-300/10 px-3 py-1 text-xs font-medium leading-5 text-white gap-1"
            >

              Python
              <svg height="20" width="30"  xmlns="http://www.w3.org/2000/svg">
                <image height="20" width="30" href="../../../assets/python-svgrepo-com.svg" />
              </svg>
            </div>

          </li>
          <li class="mr-1.5 mt-2">
            <div
              class="flex items-center rounded bg-gray-300/10 px-3 py-1 text-xs font-medium leading-5 text-white gap-1"
            >
              Selenium
              <svg height="20" width="30"  xmlns="http://www.w3.org/2000/svg">
                <image height="20" width="30" href="../../../assets/selenium-svgrepo-com.svg" />
              </svg>
            </div>
          </li>
          <li class="mr-1.5 mt-2">
            <div
              class="flex items-center rounded bg-gray-300/10 px-3 py-1 text-xs font-medium leading-5 text-white gap-1"
            >
              SQL
              <svg height="20" width="30"  xmlns="http://www.w3.org/2000/svg">
                <image height="20" width="30" href="../../../assets/sql-svgrepo-com.svg" />
              </svg>
            </div>
          </li>
          <li class="mr-1.5 mt-2">
            <div
              class="flex items-center rounded bg-gray-100/10 px-3 py-1 text-xs font-medium leading-5 text-white gap-1"
            >
              APIs REST
              <svg height="20" width="30"  xmlns="http://www.w3.org/2000/svg">
                <image height="20" width="30" href="../../../assets/rest-api-icon.svg" />
              </svg>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
